<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net debug="false">
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO"/>
        <param name="LevelMax" value="FATAL"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %t %-5p %m%n" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="UCSF.GrantLoader.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="2000KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %t %-22.22c{1} %-18.18M - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
  <system.transactions>
    <defaultSettings timeout="00:30:00" />
  </system.transactions>

  <appSettings>
    <!-- validation url -->
    <add key="GrantValidation.Url" value="http://projectreporter.nih.gov/project_info_description.cfm?aid={0}"/>
    <!-- pattern to check that grant is wrong -->
    <add key="GrantValidation.RequiredKey" value="spnPNUMB"/>
    <add key="GrantValidation.Pattern" value="This project doesn't exist in RePORTER"/>
    <!-- header-->
    <add key="GrantValidation.Header" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10.6; rv:9.0) Gecko/20100101 Firefox/9.0"/>
    <!--Pause between validation requests in seconds (default 10 if empty)-->
    <add key="GrantValidation.Pause" value="10"/>
  </appSettings>

  <connectionStrings>
    <add name="UCSF.Data.Properties.Settings.UCSFConnectionString" connectionString="Data Source=;Initial Catalog=;User ID=;Password=" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>