<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ChatterService.Properties.Settings.profilesConnectionString"
            connectionString="Data Source=ALDAN;Initial Catalog=profiles;Persist Security Info=True;User ID=profiles;Password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>