 <?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ChatterService.Properties.Settings.profilesConnectionString"
            connectionString="Data Source=;Initial Catalog=;User ID=AppProfilesUser;Password="
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>