<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="UCSF.Data.Properties.Settings.UCSFConnectionString" connectionString="Data Source=;Initial Catalog=;User ID=;Password=" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>