<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="SalesForceUrl" value="https://test.salesforce.com/services"/>
      <add key="SalesForceUserName" value="integrationadmin@ucsf.edu.profiles"/>
      <add key="SalesForcePassword" value=""/>
      <add key="SalesForceToken" value=""/>
      <add key="SalesForceClientId" value=""/>
      <add key="SalesForceGrantType" value="password"/>
      <add key="SalesForceClientSecret" value=""/>
      <add key="LogService" value="false"/>
      <add key="OAuthCert" value="C:\shindig\oauth\oauth.cer"/>
    </appSettings>
  <connectionStrings>
    <add name="ChatterService.Properties.Settings.profilesConnectionString" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>