<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="ChatterService.Properties.Settings.profilesConnectionString" 
           connectionString="" 
           providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
      <add key="SalesForceUrl" value=""/>
      <add key="SalesForceUserName" value=""/>
      <add key="SalesForcePassword" value=""/>
      <add key="SalesForceToken" value=""/>
    </appSettings>
</configuration>