<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ChatterDataLoader.Properties.Settings.profilesConnectionString"
            connectionString="Data Source=ALDAN;Initial Catalog=profiles;Persist Security Info=True;User ID=profiles;Password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
      <add key="services_url" value=""/>
      <add key="username" value=""/>
      <add key="password" value=""/>
      <add key="token" value=""/>
    </appSettings>
</configuration>