<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="services_url" value=""/>
      <add key="username" value=""/>
      <add key="password" value=""/>
      <add key="token" value=""/>
      <add key="client_id" value=""/>
      <add key="grant_type" value=""/>
      <add key="client_secret" value=""/>
    </appSettings>
</configuration>